{
  "plugins": [
    "emotion",
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "alias": {
          "src": "./src",
        }
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": [
        [
          "emotion",
          {
            "sourceMap": true
          }
        ],
      ]
    }
  }
}