{
  "env": {
    "production": {
      "plugins": [
        "emotion"
      ]
    },
    "development": {
      "plugins": [
        [
          "emotion",
          {
            "sourceMap": true
          }
        ],
        [
          "module-resolver",
          {
            "root": [
              "."
            ],
            "alias": {
              "src": "./src",
            }
          }
        ]
      ]
    }
  }
}